<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/user.css" />
<script type="text/javascript" src="/js/jquery1111min.js"></script>
<script type="text/javascript" src="/js/admin.js"></script>

<!-- 系统配置 -->
<link  rel="stylesheet"  href="/css/rules.css"/>
<script type="text/javascript" src="/js/rules1.js"></script>
<!-- 开始 添加用户 -->
<script type="text/javascript" src="/js/myDC.js"></script>
<script type="text/javascript" src="/js/myAjax.js"></script>
<script type="text/javascript" src="/js/city.js"></script>
<script type="text/javascript" src="/js/adduser.js"></script>
<!-- 结束 添加用户 -->
</head>
<body>

</body>
</html>